<%if user_signed_in? %>
<p> Welcome <b><%=current_user.full_name%></b>!</p>
<%end%>
<!-- <h2>List of Available Tasks</h2> -->
<h1><%=@post.title%></h1>
<h2>category: <%=@post.category%></h2>
<p><b>Description:</b> <%=@post.description%>
</p>
<%if @post.assigned_to!=nil %>
<h3>This task is assigned to <%=User.find(@post.assigned_to.to_i).full_name%></h3>
<%else%>
<% if current_user.id==Post.find(params[:id]).user_id%>
<h3>Pending Requsets</h3>
<%Request.all.each do |req|
	if req.post_id==params[:id].to_i%>
		<p><%=User.find(req.user_id).full_name%> <%=link_to "Authorize", controller: "posts",action: "authorize", post_id: req.post_id, user_id: req.user_id%></p>
		<%end%>
	<%end%>
<%else%>
<a href="/posts/<%=params[:id]%>/apply">Apply for this task</a> 
<%end%>
<%end%>
<script>
// $("#apply").click(function(){
//     $.ajax({url: "apply", success: function(result){
//         $("#div1").json(result);
//     }});
// });
// </script>